.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-top: 70px;
}

.content {
  flex: 1;
  padding: 30px;
  background-color: #fafafa;
  overflow-y: auto;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 220px;
}
