.postContainer {
  padding: 16px 50px;
  display: flex;
  flex-direction: column;
}

.postList {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  width: 600px;
  font-size: 15px;
}

.postList li {
  padding: 2px 0;
}
